@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.carousel-nav .carousel-cell.is-nav-selected {
  background: #ED2;
}

.carousel-cell {
  width: 100%; /* full width */
  background: #222;
  /* center images in cells with flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
}